.mainSignUpDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0px;
}

.signUpHeader {
    border: 2px solid black;
    margin: 30px 0px;
    width: 25%;
    text-align: center;
}

.signUpForm {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 40%;
}

.form-floating {
    font-size: 20px;
    margin: 20px 15px;
}

.floatingText {
    font-size: 15px;
}

.forgotPassword {
    text-align: center;
    font-size: 20px;
}

.signUpFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
}

.signUpBtn {
    font-size: 20px;
    border-radius: 7px;
    width: 40%;
    background-color: rgb(79, 79, 255);
    color: white;
}

.signUpBtn:hover {
    background-color: rgb(108, 108, 254);
}

.loginLink {
    font-size: 20px;
    margin-top: 10px;
}


@media (max-width: 992px) {
    .signUpForm {
        width: 50%;
    }
}


@media (max-width: 768px) {
    .loginLink {
        font-size: 18px;
        margin-top: 5px;
    }

    .forgotPassword {
        font-size: 18px;
    }

    .signUpForm {
        width: 75%;
    }

    .form-floating {
        font-size: 20px;
        margin: 15px 15px;
    }
}


@media (max-width: 500px) {
    .form-floating {
        font-size: 15px;
    }

    .loginLink {
        text-align: center;
    }
}