.siteLogo {
  width: 240px;
  height: 110px;
}

.navbar1 {
  background-color: rgb(36, 36, 36);
}

.btns {
  font-size: 20px;
  border-radius: 3px;
  border: 1px solid black;
}

.serachDiv {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.searchBar {
  width: 70%;
  margin-right: 10px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 20px;
}

.profileIconAndCart {
  margin-left: 12px;
  width: 60px;
  height: 60px;
  color: white;
}

.profileCartDiv {
  display: flex;
  align-items: center;
  /* margin-left: 5%; */
}

.dropdown .btn{
  padding: 0px;
}

.navBarOption {
  font-size: 25px;
  color: white;
  text-decoration: none;
  /* margin: 0px 5px; */
  text-align: center;
}

.me-auto{
  /* border: 2px solid blue; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}
.dropDownNavOption {
  color: black;
}

.navbar-nav {
  --bs-nav-link-color: white
}

.userDropdown {
  background-color: transparent;
  border: none;
}
.userDropdown:hover {
  background-color: transparent;
}

.btn-check:focus+.btn,
.btn:focus {
  background-color: transparent;
}
.btn:active:focus {
  box-shadow: none
}

@media (max-width: 1400px) {
  .navBarOption {
    font-size: 20px;
  }
  .profileIconAndCart {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 1200px) {
  .navBarOption {
    /* font-size: 20px; */
  }
  .siteLogo {
    width: 200px;
    height: 90px;
  }
}


@media (max-width: 993px) {
  .navBarOption {
    font-size: 14px;
    font-weight: bold;
  }

  .profileIconAndCart {
    width: 35px;
    height: 35px;
  }

}


@media (max-width: 768px) {
  .profileCartDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .navBarOption {
    /* font-weight: normal; */
    /* font-size: 20px; */
  }

  .dropDownNavOption {
    text-align: center;
  }
}