.productImg {
  height: 330px;
}
.cardDiv{
  margin: 30px 10px;
  width: 330px;
}
.cardListTitle{
  text-align: center;
  font-size: 20px;
}
.heartIcon{
  position: absolute;
  top: 0px;
  right: 0px;
}
.mainCarouselDiv {
  border: 2px solid black;
  width: 25%;
}
.carousel-control-next{
  height: 200px;
}
.carousel-control-prev-icon {
  background-color: black;
}

.carousel-control-next-icon {
  background-color: black;
}

.productsListRows {
  display: flex;
  justify-content: center;
}

@media (max-width: 1201px) {
  .productImg {
    height: 300px;
  }
  .cardDiv{
    width: 300px;
  }
}

@media (max-width: 991px) {
  .productImg {
    height: 280px;
  }
  .cardDiv{
    width: 280px;
  }
}

@media (max-width: 768px) {
  .productImg {
    height: 250px;
  }
  .cardDiv{
    width: 250px;
  }
}