/* .cardProductImage {
  height: 310px;
  border-bottom: 1px solid black;
}

.cardDiv {
  padding: 0px;
  margin: 30px 10px;
  width: 330px;
  border: 1px solid black;
  border-radius: 6px;

}

.cardListTitle {
  text-align: center;
  font-size: 18px;
}

.heartIcon {
  position: absolute;
  top: 0px;
  right: 0px;
}

.heartIcon:hover {
  color: red;
}


.productsListRows {
  display: flex;
  justify-content: center;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.productCardFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainProcutsContainer {

  border: 2px solid black;
}

.mainProcutsRow {
  display: flex;
}

.categoriesDiv {
  border: 2px solid black;
}

@media (min-width: 1400px) {
  .mainProcutsContainer {
    max-width: 100%;
  }
}

@media (max-width: 1201px) {
  .cardProductImage {
    height: 300px;
  }

  .cardDiv {
    width: 300px;
  }
}

@media (max-width: 991px) {
  .cardProductImage {
    height: 280px;
  }

  .cardDiv {
    width: 280px;
  }
}

@media (max-width: 768px) {
  .cardProductImage {
    height: 250px;
  }

  .cardDiv {
    width: 250px;
  }

  .cardButtons {
    font-size: 15px;
  }
} */


body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}



.cardProductImage {
  height: 310px;
  border-bottom: 1px solid black;
}

.cardDiv {
  padding: 0px;
  margin: 0px 10px 60px ;
  width: 320px;
  /* border: 1px solid black; */
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 3px 3px 10px, rgba(0, 0, 0, 0.23) 0px 3px 8px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; */
  
}

.cardListTitle {
  text-align: center;
  font-size: 18px;
}

.heartIcon {
  position: absolute;
  top: 0px;
  right: 0px;
}

.heartIcon:hover {
  color: red;
}


.productsListRows {
  display: flex;
  justify-content: center;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.productCardFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainProductsContainer {
  margin-top: 40px;
  /* border: 2px solid black; */
}

.mainProcutsRow {
  display: flex;
}

.categoriesDiv {
  border: 1px solid black;
  border-radius: 5px;
  margin: 0px 10px;
  margin-bottom: 20px;

}

@media (min-width: 1400px) {
  .mainProcutsContainer {
    /* max-width: 100%; */
  }
}

@media (max-width: 1201px) {
  .cardProductImage {
    height: 300px;
  }

  .cardDiv {
    width: 290px;
  }
}

@media (max-width: 991px) {
  .cardProductImage {
    height: 280px;
  }

  .cardDiv {
    width: 280px;
  }
}

@media (max-width: 768px) {
  .cardProductImage {
    height: 250px;
  }

  .cardDiv {
    width: 250px;
  }

  .cardButtons {
    font-size: 15px;
  }
}